<h1>Visualize Your Life</h1>
<p>Life is busy with kids, family, work, travel, conferences, etc. A lot of us set goals and make plans to achieve our goals.</p>
<p>At New Media Expo, <%= link_to "Chris Ducker", "http://chrisducker.com" %> shared a tool he uses to visualize his year. He had it as a spreadsheet, but this offers it as a web application instead.</p>
<p>Here's a prelimiary look at this year for me.</p>
<p>%= image_tag "calendar_screenshot.png" %></p>
<p>You can clearly seen when I plan to be on vacation with my wife, when I'm going to be at conferences, and when I'm doing training for people either online or in person.</p>

<h2>Thank You Chris Ducker!</h2>
<p>Here is a screenshot of the spreadsheet Chris gave away. To get a copy, I had to <%= link_to "tweet him", "http://twitter.com/chrisducker" %> and ask for it.</p>
<p><%= image_tag "spreadsheet_screenshot.png" %></p>
<p>There are a few problems with spreadsheets that make me pretty much hate them. In this case, the main problem was that in order to color code a day or series of days, I have to open the formatting options and then find the color in the palette.</p>
<p>What I want to do is just click the day and then click the color. That's what the website lets me do.</p>
<p>It also gives me the ability to access it wherever I am.</p>
