<h1>Visualize Your Life</h1>
<p>If you follow many people who truly understand success, they'll tell you to set attainable goals and make solid plans.</p>
<p>One problem I've encountered over several years of running my own business and 4 successful podcasts is that it's hard to plan what I can't visualize.</p>
<p>While attending New Media Expo 2014, I got a spreadsheet from <%= link_to "Chris Ducker", "http://chrisducker.com" %> that helps visualize your year. It's a big help for me, but I found that a website is easier to use than the spreadsheet. So, here it is.</p>

<h1>Thank You Chris Ducker!</h1>
<p></p>
